.selected-module {
    margin-bottom: 7px;
    margin-right: 7px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 0px;
    /*margin: 10px;*/
    border: 1px solid #b9b9b9;
    background-color: rgb(244, 248, 255);
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    /* Añade redondeo a los bordes del módulo */
}


.delete-module-button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(244, 248, 255);
    border: none;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 50%;
    /* Hace el botón redondo */
    width: 20px;
    /* Establece un ancho fijo para el botón */
    height: 20px;
    /* Establece una altura fija para el botón */
    display: flex;
    margin-top: 1px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    /* Ajusta el tamaño de la fuente de la 'x' si es necesario */
    line-height: 1;
    /* Asegúrate de que la 'x' esté centrada verticalmente */
}

/*Style used for the learning path div*/
.box-style {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    /* Espacio interior para no pegar el texto a los bordes */
    margin-bottom: 20px;
    /* Espacio exterior para separarlo de otros elementos */
    background-color: #f9f9f9;
    /* Un fondo ligeramente gris para distinguirlo */
}

.space-between-style {
    padding-top: 25px;
}

/*Style used for the email form*/

.custom-question-form {
    max-width: 100%;
    margin: 10px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #33333307;
}

.custom-question-form div {
    margin-bottom: 15px;
}

.custom-question-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.custom-question-form .teacheremails {
    padding-left: 5px;
}

.custom-question-form input[type="email"],
.custom-question-form input[type="text"],
.custom-question-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Para que el padding no afecte el ancho total */
}

.custom-question-form textarea {
    resize: vertical;
    /* Permite al usuario ajustar la altura del textarea */
}

.custom-question-form button[type="submit"] {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.custom-question-form button[type="submit"]:hover {
    background-color: #004494;
}

/* Style for the accordion*/
.accordion-container {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.accordion-title {
    background: #f2f2f2;
    color: #333;
    padding: 15px 20px;
    margin: 0;
    cursor: pointer;
    font-size: 18px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.accordion-title:hover {
    background-color: #e6e6e6;
}

.accordion-title::after {
    content: "\002B";
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 24px;
    color: #333;
}

.accordion-title.open::after {
    content: "\2212";
    color: #333;
}

.accordion-content {
    display: none;
    padding: 20px;
    border-top: 1px solid #3333331e;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.accordion-container img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 10px 0;
}